<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなのToDoAppリスト</title>
</head>
<body>
    <h2>みんなのToDoリスト</h2>
    <table border="1">
        <tr>
            <th>題目</th>
            <th>作成者</th>
            <th>作成日時</th>
        </tr>
        <tr th:each="t: ${ToDoList}">
            <td>[[${t.title}]]</td>
            <td>[[${t.mid}]]</td>
            <td>[[${t.createdAt}]]</td>
        </tr>
    </table>
    
    <h2>達成済みToDoリスト</h2>
    <table border="1">
        <tr>
            <th>題目</th>
            <th>作成者</th>
            <th>作成日時</th>
            <th>完了日時</th>
        </tr>
        <tr th:each="d: ${DoneList}">
            <td>[[${d.title}]]</td>
            <td>[[${d.mid}]]</td>
            <td>[[${d.createdAt}]]</td>
            <td>[[${d.doneAt}]]</td>
        </tr>
    </table>
    
    <!-- <p>
        <a th:href=@{/user/mylist/{mid}(mid=${mid})}>自分のToDo</a><br />
    </p>  -->
    <p>
        <a th:href=@{/user/login}>Login画面</a><br />
    </p>
    
</body>
</html>