<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoAppマイリスト</title>
</head>
<body>
    <h2>マイToDoリスト</h2>
    <table border="1">
        <tr>
            <th>題目</th>
            <th>作成日時</th>
        </tr>
        <tr th:each="t: ${ToDoList}">
            <td>[[${t.title}]]</td>
            <td>[[${t.createdAt}]]</td>
            <td><a th:href=@{/user/delete/{t}(t=${t.mid})}>削除</a></td>
            <td><a th:href=@{/user/done/{t}(t=${t.mid})}>完了</a></td>
        </tr>
    </table>

    <h3>新規タスク登録</h3>
    <form role="form" th:action="@{user/register}" th:object="${ToDoForm}" method="post">
        <table>
            <tr>
                <td><label>新規ToDoタイトル: </label></td>
                <td><input type="text" required th:field="*{title}" /></td>
            </tr>
        </table>
        <p><input type="submit" value="登録" /></p>
    </form>
    
    <h2>達成済みToDoリスト</h2>
    <table border="1">
        <tr>
            <th>題目</th>
            <th>作成日時</th>
            <th>完了日時</th>
        </tr>
        <tr th:each="d: ${DoneList}">
            <td>[[${d.title}]]</td>
            <td>[[${d.createdAt}]]</td>
            <td>[[${d.doneAt}]]</td>
            <td><a th:href=@{/user/delete/{t}(t=${t.mid})}>削除</a></td>
        </tr>
    </table>
    
    
</body>
</html>